*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.w-100{
    width: 100%;
}


.logo{
    width: 500px;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo .menu ,.logo .menu1{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    /* padding: 10px; */
    background-color: beige;
    width: 500px;
    transition: 1s;
    overflow: hidden;
    height: 0;
}
nav ul li{
    padding: 10px 0;
    display: block;
}
nav ul li:hover{
    background-color: rgb(66, 66, 233);
    color: white;
    padding-left: 15px;
    cursor: pointer;
}